<% provide(:title, "Log in") %>

<div class="col-md-6">
	<h1 class="users-header">User log in</h1>

	<div class="new-user-btn pull-right"><%= link_to 'Create an account', new_user_path, class: "btn btn-xs btn-success" %>
	</div>
	
	<%= form_for(:session, url: login_path) do |f| %>
		
		 	<div class="form-group">
			    <%= f.label :email %>
			    <%= f.text_field :email, class: "form-control" %>
		 	</div>
			
			<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control" %>
			</div>

			<div class="form-group">
				
					<%= f.check_box :remember_me %>
					<span>Remember me on this computer</span>
				
			</div>

			
			<%= f.submit "Login", class: "btn btn-primary btn-100p" %>

	<% end %>  

</div>

