<div class="col-xs-12">
	<!-- Header -->
	<h1>Tasks</h1>

	<!-- Add new task button -->
	<div class="new-task pull-right"><%= link_to 'Add Task', new_task_path, class: "btn btn-xs btn-success" %>
	</div>
	
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">  
    <li role="presentation" class="active"><a href="#current" aria-controls="current" role="tab" data-toggle="tab">Current Tasks</a></li>
    <li role="presentation" ><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending Tasks</a></li>
    <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed Tasks</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
   
	<div role="tabpanel" class="tab-pane active" id="current">
    	<ul id="tasks-<%= Task::Status::STARTED %>" class="list-group">
		<%= render @started_tasks %>
		</ul>
    </div>
    
    <div role="tabpanel" class="tab-pane" id="pending">
    	<ul id="tasks-<%= Task::Status::NOT_STARTED %>" class="list-group">
		<%= render @unstarted_tasks %>
		</ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="completed">	
    	<ul id="tasks-<%= Task::Status::FINISHED %>" class="list-group">
		<%= render @finished_tasks %>
		</ul>
    </div>


</div>














	


