<div class="col-xs-12">
	<h1>Tasks</h1>

	<div class="new-task pull-right"><%= link_to 'Add Task', new_task_path, class: "btn btn-xs btn-success" %></div>

	
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#pending" aria-controls="home" role="tab" data-toggle="tab">Pending Tasks</a></li>
    <li role="presentation"><a href="#completed" aria-controls="profile" role="tab" data-toggle="tab">Completed Tasks</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="pending">
    	<ul class="list-group">
		<% @unfinished_tasks.each do |task| %>
		 	<li class="list-group-item"><%= task.title %> - <%= task.description %> - 
		 		<span class="pull-right"> <%= link_to "Complete", task_path(task), method: :patch	, class: "btn btn-primary btn-xs" %> </span>  
		 	</li>
		<% end %>
		</ul>
    </div>

    <div role="tabpanel" class="tab-pane" id="completed">	
    	<ul class="list-group">
		<% @finished_tasks.each do |task| %>
		 	<li class="list-group-item"><%= task.title %> - <%= task.description %> - 
		 		<span class="pull-right"><%= link_to "Complete", task_path(task), method: :patch	, class: "btn btn-primary btn-xs" %> </span>
		 	</li>
		<% end %>
		</ul>
    </div>
  </div>
</div>














	


