<div class="home">
	<div class="vcenter">
		<h1>Welcome To The Machine</h1>
		<ul class="nav nav-pills">
		  <li role="presentation"><%= link_to 'My Blog', controller: 'articles' %></li>
		  <li role="presentation"><%= link_to 'Todo', tasks_path %></li>
		  <li role="presentation"><%= link_to 'Movies', controller: 'movies' %></li>
		  <li role="presentation"><%= link_to 'About', about_path %></li>
		  <li role="presentation"><%= link_to 'Contact', contact_me_path %></li>
		</ul>
	</div>
</div>