<% provide(:title, 'Create an account') %>
<div class="col-xs-12">
	<h1>Create an account</h1>
	
	<div class="new-user-form">
		<%= form_for @user, url: new_user_path do |f| %>

		 	<div class="form-group">
			    <%= f.label :name %>
			    <%= f.text_field :name, class: "form-control" %>
		 	</div>

			<div class="form-group">
				<%= f.label :email %>
				<%= f.email_field :email, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, class: "form-control" %>
			</div>

			<%= f.submit "Create an account", class: "btn btn-primary" %>

		<% end %> <!-- end form  -->

	</div>
</div>
