<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Blog Site", root_path, class: "navbar-brand" %>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
             <li><%= link_to "Movies", movies_path %></li>
			 <li><%= link_to "Todo", tasks_path %></li>
			 <li><%= link_to "Blog", articles_path %></li>
			 <li><%= link_to "About", about_path %></li>
			 <li><%= link_to "Contact Me", contact_me_path %></li>



      <% if user_signed_in? %>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
               
                <li role="separator" class="divider"></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              </ul>
          </li>
        <% else %> 
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
          </ul>
        </div><!-- /.nav-collapse -->

        
          
          
        <% else %>



       </ul>

        


      </div><!-- /.container -->
    </nav>
