<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>

  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- jQuery -->
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css" crossorigin="anonymous">


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Header -->
	<%= render partial: 'common/header' unless controller_name == 'welcome' && action_name == 'index' %>
	<!-- Header -->
	<!-- Content container -->
	<% if controller_name != 'welcome' %>
		<div class="container content">
			<div class="row">
				<% if flash[:success] %>

					<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:success] %>
					</div>




				<% elsif flash[:error] %>
					<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= flash[:error] %>
					</div>	
				<% end %>
	<% end %>
	<!-- Content container -->	
		<!-- Ruby Views -->
				<%= yield %>
		<!-- Ruby Views -->	
	<!-- Content container -->				
	<% if controller_name != 'welcome' %>
				<div class="col-xs-12 dev-info">
					<%= debug(params) if Rails.env.development? %>
				</div>
			</div> <!-- end row -->
		</div> <!-- end container content -->
	<% end %><!-- end if controller_name != 'welcome' -->
	
	
</body>
</html>
